@charset "utf-8";

/* =Typography
--------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px;
  }
  .navbar-collapse .navbar-nav {
    order: -1;
  }
}

@media screen and (max-width: 767px) {
  .block-product-hero,
  .block-product-hero-single {
    padding-top: 0;
  }
  .block-product-hero h1,
  .block-product-hero-single .text h1 {
    font-size: 40px;
  }

  .block-article-main h1 {
    font-size: 30px;
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 70px;
    line-height: 84px;
  }
  h2,
  .h2 {
    font-size: 50px;
    line-height: 60px;
  }
  h3,
  .h3 {
    font-size: 35px;
    line-height: 42px;
  }

  h4,
  .h4 {
    font-size: 30px;
    line-height: 36px;
  }
  h5,
  .h5 {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 575px) {
  .block-page-hero .text h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 576px) {
  .card-case .card-logo {
    margin: 0 24px 0 0;
  }

  .block-usps-overview .row > div:nth-child(5) .item {
    border: none;
  }
  .block-usps-overview .row > div:nth-child(1),
  .block-usps-overview .row > div:nth-child(3),
  .block-usps-overview .row > div:nth-child(5) {
    position: relative;
  }
  .block-usps-overview .row > div:nth-child(1):after,
  .block-usps-overview .row > div:nth-child(3):after,
  .block-usps-overview .row > div:nth-child(5):after {
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    bottom: 15px;
    width: 1px;
    background-color: #90a3ab;
  }
  .block-tabs .nav-tabs .nav-item {
    width: 100%;
    flex: 1 1 auto;
  }
  .block-tabs .tab-pane {
    padding: 20px;
  }

  .block-contact-list ul {
    display: flex;
    justify-content: space-between;
  }
  .block-contact-list ul li:not(:last-child) {
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  .block-img-text-cta .icons-list a {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .swiper-03 .swiper-slide {
    width: 320px;
  }

  .block-cta-banner .inner {
    margin: 0;
  }
  .block-cta-banner .inner:after {
    border-top-color: #271f0a;
    border-left-color: #271f0a;
    left: 47px;
    z-index: -1;
  }
  .block-cta-banner .banner-image {
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .block-cta-banner .banner-image:after {
    content: "";
    position: absolute;
    left: -30px;
    top: -18px;
    width: 50%;
    height: 80%;
    z-index: 1;
    background: url(../img/bg/bg-cross-beige.svg) right 0 repeat;
    opacity: 0.27;
  }
  .block-cta-banner .banner-image img {
    width: 100%;
  }
  .block-cta-banner--img-lg .banner-image {
    height: auto;
    top: -18px;
    bottom: 0;
  }
  .block-cta-banner--img-lg .banner-image:after {
    top: 0;
  }

  .block-cta-banner .banner-text {
    background-color: transparent;
    position: relative;
    z-index: 2;
    padding: 40px 15px 71px;
  }
  .block-cta-banner .banner-text h2 {
    margin: 0 0 30px;
  }

  /* block-product-hero-single */
  .block-product-hero-single {
    background-color: var(--bs-light);
  }
  .block-product-hero-single:before {
    width: 50%;
    background: var(--bs-secondary) url(../img/bg/bg-cross-gray-09.svg) right 0 repeat;
  }
  .block-product-hero-single .product-detail-slider {
    background: none;
  }
  .block-product-hero-single .text {
    margin: 0;
  }

  /* block-usps-overview */
  .block-usps-overview .row > div:nth-child(4) .item {
    border: none;
  }
  .block-usps-overview .row > div:nth-child(2),
  .block-usps-overview .row > div:nth-child(4) {
    position: relative;
  }
  .block-usps-overview .row > div:nth-child(3):after {
    display: none;
  }
  .block-usps-overview .row > div:nth-child(2):after,
  .block-usps-overview .row > div:nth-child(4):after {
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    bottom: 15px;
    width: 1px;
    background-color: #90a3ab;
  }

  .block-text .container-fluid {
    position: relative;
    z-index: 5;
  }

  /* block-contact-form */
  .block-contact-form {
    padding: 0;
    background-color: transparent;
  }
  .block-contact-form.block-overlap {
    margin: 0 0 -130px;
  }
  .block-contact-form.block-overlap + * {
    padding-top: 204px;
  }
  .block-contact-form .inner {
    background-color: var(--bs-dark);
    padding: 40px 20px 0;
    position: relative;
  }
  .block-contact-form:after {
    display: none;
  }
  .block-contact-form .inner:before {
    content: "";
    position: absolute;
    left: -80px;
    top: -311px;
    bottom: 60.8%;
    width: calc(27% + 80px);
    height: auto;
    background: url(../img/bg/bg-cross-gray-09.svg) right bottom repeat;
  }
  .block-contact-form .inner:after {
    content: "";
    width: 0;
    height: 0;
    border: 19px solid transparent;
    position: absolute;
    left: 48px;
    bottom: -28px;
    border-top-color: var(--bs-dark);
    border-left-color: var(--bs-dark);
  }
  .block-contact-form .image {
    margin: 0;
    padding: 0 0 30px;
  }
  .block-contact-form .image:before {
    display: none;
  }
  .block-contact-form textarea.form-control {
    height: 145px;
  }
  .block-contact-form .submit {
    padding: 12px 0 0;
  }
  .block-contact-form .submit button {
    transform: translateY(22px);
  }

  .about-list-row .row {
    --bs-gutter-x: 100px;
  }
  .about-list-row {
    margin: 0;
    padding: 50px 0;
    position: relative;
  }
  .about-list-row:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin: 0 0 0 -1px;
    width: 3px;
    background-color: var(--bs-secondary);
  }
  .about-list-row:first-child {
    margin-top: -50px;
  }
  .about-list-row:first-child:after {
    top: 50%;
  }
  .about-list-row:last-child:after {
    bottom: 50%;
  }
  .about-list-row:before {
    content: "";
    width: 27px;
    height: 27px;
    background: url(../img/bg/bg-cross-about.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .about-list-row:nth-child(2n) .row {
    flex-direction: row-reverse;
  }
  .about-list-row .row {
    align-items: center;
  }
  .about-list-row .image {
    margin: 0;
  }
  .about-list-row .text p {
    max-width: 432px;
  }

  .partners-list-row .image {
    margin: 0;
  }
  .partners-list-row .text {
    max-width: 425px;
  }
  .partners-list-row:nth-child(2n) .row {
    flex-direction: row-reverse;
  }
  .partners-list-row:nth-child(2n) .image {
    margin: 0 54px 0 0;
  }
  .partners-list-row:nth-child(2n) .image:after {
    width: 39.9%;
    height: 62.1%;
    left: auto;
    top: -34px;
    right: -34px;
    mix-blend-mode: normal;
    z-index: 0;
  }
  .partners-list-row:nth-child(2n) .image img {
    position: relative;
    z-index: 1;
  }

  .block-page-hero.block-page-hero--filter .filter-bar form {
    display: flex;
    margin: 0 -10px;
  }
  .block-page-hero.block-page-hero--filter .filter-bar .field-text,
  .block-page-hero.block-page-hero--filter .filter-bar .field-select {
    margin: 0;
    padding: 0 10px;
  }
  .block-page-hero.block-page-hero--filter .filter-bar .field-text {
    width: 55%;
  }
  .block-page-hero.block-page-hero--filter .filter-bar .field-select {
    width: 25%;
  }
  .block-page-hero.block-page-hero--filter .filter-bar .submit {
    width: 20%;
    padding: 0 10px;
  }
  .block-page-hero.block-page-hero--filter .btn-scroll-down {
    margin-top: 100px;
  }

  .block-article-main:before {
    bottom: 300px;
  }
  .block-quote .blockquote-wrapper {
    padding: 60px 80px;
  }
  .block-quote .blockquote-wrapper:before {
    top: 40px;
  }

  .block-usps-text ul {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  /* block-form-primary */
  .block-form-primary .fields {
    position: relative;
    padding: 0 248px 0 0;
  }
  .block-form-primary .fields .btn {
    height: 100%;
    width: 248px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  .card-partner-logo {
    height: 170px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    background-color: transparent;
    height: auto;
    top: 41px;
    bottom: auto;
    transition: transform 0.2s;
    will-change: transform;
  }
  .header.header-fixed {
    transform: translateY(-41px);
  }
  .header.header-fixed .header-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .header-content {
    background-color: #fff;
    padding: 0 30px 0 35px;
    position: relative;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-collapse {
    position: static;
    background-color: transparent;
    transition: none;
    height: auto;
    overflow: visible;
  }
  .navbar-collapse.show {
    height: auto;
  }
  .navbar-top {
    width: auto;
    position: absolute;
    top: -41px;
    right: 0;
    margin: 0;
    color: #fff;
    padding: 11px 30px 9px;
    line-height: 1.5;
    display: flex;
    justify-content: flex-end;
  }
  .navbar-top > li + li {
    margin-left: 50px;
  }
  .navbar-top a {
    padding: 0;
  }

  .navbar-nav {
    width: auto;
  }
  .navbar-nav > li > a {
    padding: 39px 10px 35px;
    letter-spacing: 0.05em;
    font-size: 14px;
    color: #4a4112;
  }
  .navbar-nav > li > a:hover {
    color: var(--bs-secondary);
  }
  .navbar-nav .menu-level-1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none !important;
  }
  .navbar-nav .menu-level-1 .level-1-parent > a {
    position: relative;
    z-index: 2;
  }
  .navbar-nav .menu-level-1 .level-1-parent > a:hover {
    color: var(--bs-secondary);
  }
  .navbar-nav .menu-level-1 .level-1-parent > a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 31px;
    height: 22px;
    background: url(../img/bg/bg-menu.svg) no-repeat;
    display: none;
  }
  .navbar-nav .menu-level-1 .level-1-parent:hover > a:after {
    display: block;
  }
  .navbar-nav > li:hover .menu-level-1 {
    display: block !important;
  }
  .navbar-nav .menu-level-1 > ul {
    display: flex;
    padding: 0 35px;
    justify-content: space-between;
  }
  .navbar-nav .menu-level-1 > ul > li > a {
    padding: 6px 0 7px;
  }
  .navbar-nav .menu-level-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none !important;
  }
  .navbar-nav .menu-level-1 > ul > li:hover .menu-level-2 {
    display: block !important;
  }
  .navbar-nav .menu-level-2 .menu-title {
    padding: 33px 0 8px 35px;
    letter-spacing: 0.05em;
  }
  .navbar-nav .menu-level-2 ul {
    padding-bottom: 27px;
  }
  .navbar-nav .menu-level-2 ul li a {
    padding: 3px 0 6px 35px;
  }
  .navbar-nav .menu-level-2 ul li a i {
    margin: 0 12px 0 0;
    transition: all 0.2s;
  }
  .navbar-nav .menu-level-2 ul li a:hover i {
    transform: translateX(5px);
  }
  .navbar-nav .menu-level-2 .menu-banner {
    display: block;
    height: 100%;
    background: #e0e0e0 url(../img/bg/bg-cross-gray.svg);
    position: relative;
    padding: 20px;
  }
  .navbar-nav .menu-level-2 .menu-banner-image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar-nav .menu-level-2 .menu-banner-image img {
    display: block;
  }
  .navbar-nav .menu-level-2 .menu-banner-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2f2f2f;
  }
  .navbar-nav .menu-level-2 .menu-banner p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #4a4112;
  }
  .navbar-nav .menu-level-2 .menu-banner .link-arrow {
    color: #4a4112;
  }

  .header-contact {
    padding: 0 0 0 25px;
  }

  /* banner-slider */
  .banner-slider {
    min-height: 100vh;
  }
  .icons-list {
    overflow: visible;
  }
  .icons-list .swiper-06 {
    position: relative;
  }
  .icons-list .swiper-06:after {
    content: "";
    width: 0;
    height: 0;
    border: 19px solid transparent;
    position: absolute;
    left: 35px;
    bottom: -28px;
  }
  .icons-list .swiper-06.bg-dark:after {
    border-top-color: var(--bs-dark);
    border-left-color: var(--bs-dark);
  }
  .icons-list .swiper-06.bg-secondary:after {
    border-top-color: var(--bs-secondary);
    border-left-color: var(--bs-secondary);
  }

  .banner-slider .box-cases {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 0;
    z-index: 9;
    width: 150px;
  }
  .banner-slider .box-cases figure {
    margin: 0;
  }
  .banner-slider .box-cases img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .banner-slider .box-cases .btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    white-space: nowrap;
    min-width: 180px;
  }
  .banner-main {
    padding: 225px 0 48px;
  }
  .banner-main .banner-text {
    margin: 0 0 18px;
    padding: 36px 36px 39px;
  }
  .banner-main .banner-text:before {
    left: 0;
  }
  .banner-main .banner-text:after {
    content: "";
    position: absolute;
    left: -21px;
    right: 20px;
    bottom: 21px;
    top: -17px;
  }
  .banner-main .banner-text .subtitle {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 27px;
  }
  .banner-main .banner-text h1 {
    margin: 0 0 24px;
  }

  .banner-main .icons-list {
    position: relative;
    z-index: 5;
  }
  .banner-main .icons-list .swiper-06 {
    border-radius: 4px;
    padding-bottom: 38px;
    justify-content: space-between;
    padding-left: 46px;
    padding-right: 50px;
  }
  .banner-main .icons-list .icon {
    margin: 0 auto -13px;
    transform: translateY(-13px);
  }
  .banner-slider--inner .banner-main {
    padding: 275px 0 166px;
  }
  .banner-slider--inner .banner-main .banner-text:after {
    left: -20px;
    right: 20px;
    bottom: 15px;
    top: -14px;
  }
  .banner-slider--inner .banner-main .banner-text .subtitle {
    margin: 0 0 8px;
  }
  .banner-slider--inner .banner-main .banner-text h1 {
    line-height: 1.086;
  }
  .banner-slider--inner .banner-main .banner-text {
    margin: 0;
    padding: 30px 36px 39px;
  }

  .category-item .item-text .subtitle,
  .block-product-hero-single .text .subtitle,
  .block-video .subtitle,
  .block-form-primary .subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .block-text .subtitle {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 12px;
  }
  .block-contact-form .subtitle {
    font-size: 14px;
    line-height: 21px;
  }

  /* block-img-text-cta */
  .block-img-text-cta {
    padding: 145px 0 86px;
  }
  .block-img-text-cta .image {
    margin: 0;
    height: 100%;
  }
  .block-img-text-cta .image img {
    height: 100%;
    object-fit: cover;
  }
  .block-img-text-cta .text {
    margin: 0 0 33px;
    padding: 62px 25px 66px;
  }
  .block-img-text-cta .text:before {
    left: auto;
    right: 20px;
    top: auto;
    bottom: 25px;
    width: 100%;
    height: 100%;
  }
  .block-img-text-cta .icons-list {
    margin: 0;
    padding: 13px 0 0;
  }
  .block-img-text-cta .icons-list .swiper-wrapper {
    justify-content: space-between;
  }

  /* block-slider-logos */

  .bg-grid {
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
  }
  .bg-light.bg-grid {
    background-image: url(../img/bg/bg-cross-dark-lg.svg);
  }
  .bg-dark.bg-grid {
    background-image: url(../img/bg/bg-cross-gray-09-lg.svg);
  }
  .bg-secondary.bg-grid {
    background-image: url(../img/bg/bg-cross-gray-09-lg.svg);
  }

  .block-slider-logos {
    padding: 50px 0 0;
    height: 163px;
  }
  .block-slider-logos .swiper .swiper-slide img {
    transform: none;
  }
  .block-slider-logos.bg-grid {
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
  }
  .block-featured-services.bg-grid {
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
  }

  /* block-featured-services */
  .block-featured-services {
    padding: 29px 0 90px;
  }
  .block-featured-services .swiper-03 {
    padding-bottom: 25px;
  }

  /* card service */
  .card-service .card-text {
    padding: 46px 30px;
  }
  .card-service .card-text .subtitle {
    margin: 0 0 4px;
    font-size: 14px;
    line-height: 21px;
  }
  .card-service .btn {
    display: inline-flex;
    position: absolute;
    left: 30px;
    bottom: -22px;
  }

  /* block-text-img */
  .block-text-img {
    padding: 152px 0 192px;
  }
  .block-text-img.bg-secondary {
    padding: 93px 0 126px;
    margin: 0 0 144px;
  }
  .block-text-img:not(.bg-secondary).bg-grid {
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
  }
  .block-text-img + .block-text-img {
    margin-top: -55px;
    padding-top: 0;
  }
  .block-text-img--narrow {
    padding: 93px 0 108px;
  }
  .block-text-img--img-right .row {
    flex-direction: row-reverse;
  }
  .block-text-img .row > div.d-lg-flex {
    align-items: flex-end;
  }
  .block-text-img--img-right .row > div.d-lg-flex {
    align-items: flex-start;
  }
  .block-text-img--narrow .row > div.d-lg-flex {
    align-items: center;
  }
  .block-text-img .image {
    margin: 0;
  }
  .block-text-img .image:before {
    right: 23px;
    top: 23px;
    width: 63px;
    height: 63px;
    background: url(../img/bg/bg-cross-img.svg);
  }
  .block-text-img .image:after {
    left: -35px;
    bottom: -33px;
    width: 150px;
    height: 150px;
  }
  .block-text-img .text {
    padding: 0;
    max-width: 470px;
  }
  .block-text-img .text p {
    margin: 0 0 27px;
    max-width: 470px;
  }
  .block-text-img--narrow .text {
    max-width: 360px;
    padding: 22px 0 0;
  }
  .block-text-img .text .subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .block-text-img .text h2 {
    line-height: 64px;
    margin: 0 0 10px;
  }
  .block-text-img .text .btn {
    margin-top: 0;
  }
  .block-text-img--links .links {
    position: absolute;
    width: 305px;
    bottom: -32px;
    margin: 0;
    transform: translate3d(-43%, 0, 0);
    padding: 28px 20px 32px 45px;
  }
  .block-text-img--narrow.block-text-img--links {
    padding-bottom: 101px;
  }

  /* block-cases-slider */
  .block-cases-slider .swiper {
    padding: 23px 0 0;
  }
  .block-cases-slider .controls {
    transform: translateY(25px);
  }
  .block-cases-slider .swiper-04-nav .swiper-button-next {
    margin-left: 10px;
  }
  .card-case:before {
    top: -23px;
    width: 40vw;
    height: 300px;
    background-image: url(../img/bg/bg-cross-beige-lg.svg);
  }
  .card-case .card-text {
    padding: 116px 25px 80px;
    margin: 0 -25px;
    background-position: 0px 63px;
    background-size: auto;
  }

  .card-case .card-text h2 {
    margin: 0 0 10px;
    line-height: 65px;
  }
  .card-case .card-logo img {
    display: block;
    width: 100%;
    max-width: 133px;
    height: auto;
  }
  .card-case .link-arrow {
    margin: 54px 0 0;
  }

  /* block-featured-products */
  .block-featured-products {
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
    padding: 151px 0 61px;
  }
  .block-featured-products:last-child {
    margin-bottom: -100px;
  }

  /* card-product */
  .card-product .card-image {
    padding: 104.3% 0 0;
  }
  .card-product .card-text {
    padding: 17px 0 46px;
  }
  .card-product .card-text .subtitle {
    margin: 0 0 4px;
  }
  .card-product .btn {
    transform: translate3d(-50%, 22px, 0);
  }

  /* block-featured-categories */
  .block-featured-categories {
    padding: 102px 0 128px;
  }
  .block-featured-categories .swiper {
    padding-bottom: 34px;
    padding-top: 37px;
    overflow: visible;
  }
  .block-featured-categories .swiper-slide:first-child {
    padding: 188px 0 0;
  }
  .block-featured-categories .swiper-slide:first-child .card-category .card-image:after {
    width: 150px;
    height: 150px;
    left: -35px;
    bottom: -34px;
  }
  .block-featured-categories .swiper-slide:nth-child(2) {
    padding: 60px 0 0;
  }
  .block-featured-categories .swiper-slide:nth-child(3) .card-category .card-image:after {
    content: "";
    width: 110%;
    height: 86.56%;
    z-index: -1;
    position: absolute;
    right: -23%;
    top: -37px;
    background-color: var(--bs-primary);
  }

  /* card-category */
  .card-category .card-image:before {
    right: 27px;
    top: 29px;
    width: 61px;
    height: 61px;
    background: url(../img/bg/bg-cross-img.svg);
  }
  .card-category .card-text {
    padding: 31px 48px 30px;
  }
  .card-category .card-text .subtitle {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 7px;
  }

  /* block-cta-banner */
  .block-cta-banner .inner {
    margin: 0 0 63px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .block-cta-banner .banner-image:after {
    left: -30px;
    top: -30px;
    width: 48.5%;
    height: 297px;
    background-image: url(../img/bg/bg-cross-beige-lg.svg);
  }
  .block-cta-banner--img-lg .banner-image {
    top: -30px;
  }
  .block-cta-banner--img-lg .banner-image:after {
    top: 0;
  }
  .block-cta-banner .banner-text {
    padding: 68px 100px 82px;
  }
  .block-cta-banner .banner-text h2 {
    margin: 0 0 27px;
    line-height: 65px;
  }

  /* =Footer
--------------------------------------------------------------------------------------------------*/

  .footer {
    padding: 100px 0 0;
  }
  .footer-bg {
    padding: 0;
  }
  .footer-bg:after {
    content: "";
    background: url(../img/bg/bg-footer-03.svg) no-repeat;
    width: 63px;
    height: 63px;
    position: absolute;
    top: 40px;
    right: 29px;
  }
  .footer-col-start {
    padding-top: 105px;
    padding-bottom: 63px;
    display: block;
  }
  .footer-col-start:before {
    left: -30vw;
    right: 31px;
    bottom: 0;
    top: 0;
    background-position: right 0;
    background-size: 27px;
  }
  .footer-logo {
    margin: 0 0 45px;
  }
  .footer-contacts {
    margin: 0 0 23px;
    width: auto;
  }
  .footer-contacts p a:hover {
    color: var(--bs-primary);
  }
  .footer-address {
    padding: 0;
    width: auto;
    margin: 0 0 20px;
  }
  .footer-socials {
    position: relative;
    height: auto;
    display: block;
    padding: 0;
    background: none;
  }
  .footer-socials p {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 8px;
    text-align: left;
  }
  .footer-socials ul {
    justify-content: flex-start;
  }
  .footer-socials ul li {
    margin: 0 50px 0 0;
  }
  .footer-socials ul li:last-child {
    margin: 0;
  }
  .footer nav {
    border-top: none;
  }
  .footer .row > div:last-child nav {
    border-bottom: none;
  }
  .footer nav .nav-title {
    cursor: default;
    padding: 0;
    margin: 180px 0 6px;
    font-size: 14px;
    line-height: 21px;
  }
  .footer nav .nav-title i {
    display: none;
  }
  .footer nav ul {
    padding: 0;
    display: block !important;
  }
  .footer nav ul li {
    margin: 0 0 12px;
  }
  .footer nav ul a {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
  .footer nav ul a:hover {
    color: var(--bs-primary);
  }
  .footer nav ul a i {
    margin: 0 6px 0 0;
  }
  .footer-bottom {
    border-bottom: 15px solid #fff;
    padding: 17px 0 18px;
    color: #2f2f2f;
    font-size: 14px;
    line-height: 16px;
  }
  .footer-bottom .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom:before {
    background-image: url(../img/bg/bg-footer-02.svg);
    right: 0;
    top: -132px;
    width: 560px;
    height: 198px;
  }
  .footer-bottom ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom ul + ul:before {
    content: "\2022";
    margin: 0 5px;
  }
  .footer-bottom ul li + li:before {
    content: "\2022";
    margin: 0 5px;
  }
  .footer-bottom ul a {
    color: #2f2f2f;
  }
  .footer-bottom ul a:hover {
    color: var(--bs-black);
  }

  /* block-product-hero */
  .block-product-hero {
    padding: 200px 0 0;
    background-image: url(../img/bg/bg-cross-gray-09-lg.svg);
  }
  .block-product-hero .image {
    transform: translateY(0);
    margin: 0 0 -64px;
    display: block;
  }
  .block-product-hero .image img {
    max-width: 100%;
  }
  .block-product-hero .text {
    padding: 33px 37px 19px;
    margin: 2px 0 0;
  }
  .block-product-hero .text .subtitle {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 6px;
  }
  .block-product-hero .text p {
    max-width: 550px;
    line-height: 1.6;
    margin: 13px 0 0;
  }

  /* block-text-two-col */
  .block-text-two-col {
    padding: 0 0 130px;
    line-height: 1.92;
  }

  /* block-categories-list */
  .block-categories-list {
    padding: 100px 0;
    margin: 0 0 107px;
  }

  /* block-product-overview */
  .block-product-overview {
    padding: 147px 0 86px;
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
  }
  .block-product-overview .row {
    --bs-gutter-y: 115px;
  }
  .block-product-overview .text-center {
    padding: 98px 0 0;
  }

  /* block-product-hero-single */
  .block-product-hero-single {
    padding: 170px 0 40px;
  }
  .block-product-hero-single:before {
    width: 41.9%;
    background-image: url(../img/bg/bg-cross-gray-09-lg.svg);
  }

  /*block-tabs */
  .block-tabs {
    padding: 89px 0 84px;
    margin: 43px 0;
  }
  .block-tabs .nav-tabs {
    --bs-nav-link-padding-y: 0.7rem;
  }
  .block-tabs .nav-tabs .nav-item .nav-link {
    font-size: 18px;
  }

  /* block-hero-single */
  .block-hero-single {
    padding: 241px 0 170px;
    margin: 0 0 -100px;
  }
  .block-hero-single:before {
    background-image: url(../img/bg/bg-cross-gray-09-lg.svg);
    bottom: 87px;
    width: 38%;
  }
  .block-hero-single.bg-primary:before {
    background-image: url(../img/bg/bg-cross-black-09-lg.svg);
    bottom: 87px;
    width: 38%;
  }

  /* block-page-hero */
  .block-page-hero {
    padding: 200px 0 85px;
  }
  .block-page-hero .btn-scroll-down {
    background: url(../img/icons/ico-scroll.svg) no-repeat;
    border: none;
    padding: 0;
    width: 17px;
    height: 37px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin: 45px 0 0 -11px;
  }
  .block-page-hero .text {
    padding: 34px 37px 44px;
  }
  .block-page-hero .text .subtitle {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 5px;
  }
  .block-page-hero .text h1 {
    margin: 0 0 10px;
  }

  /* block-service-list */
  .block-service-list .image {
    margin: 0 0 33px;
  }
  .block-service-list .text .subtitle {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 2px;
  }
  .block-service-list .text h3 {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 9px;
  }
  .block-service-list .text p {
    line-height: 23px;
    max-width: 460px;
    margin: 0 0 35px;
  }

  /* block-team */
  .block-team {
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
    padding: 82px 0 90px;
  }
  .block-text-two-col + .block-team {
    margin: -35px 0 0;
  }
  .block-team .row {
    --bs-gutter-x: 40px;
  }
  .block-team .subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .block-team h2 {
    margin: 0 0 64px;
  }
  .block-team .btn-arrow {
    margin: 88px 0 0;
  }
  .card-team {
    max-width: none;
  }

  /* block-partners */
  .block-partners {
    padding: 95px 0 133px;
  }
  .block-partners .subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .block-partners .row {
    --bs-gutter-x: 23px;
  }
  .block-partners .btn-arrow {
    margin: 82px 0 0;
  }

  /* block-text-filter */
  .block-text-filter {
    margin: 0 0 100px;
  }
  .block-text-filter .text {
    margin: 0 auto 44px;
  }
  .block-text-filter .filter-pills ul a {
    padding: 0.62rem 1rem;
    min-width: 144px;
  }

  /* .block-article-main */
  .block-article-main {
    padding: 225px 0 0;
  }
  .block-article-main:before {
    bottom: auto;
    height: 532px;
  }
  .block-article-main .subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .block-article-main .article-image:before {
    right: 21px;
    top: 27px;
    width: 61px;
    height: 61px;
    background-image: url(../img/bg/bg-cross-img.svg);
  }
  .block-article-main .article-data span {
    margin: 0 28px 0 0;
  }
  .block-article-main .btn-scroll-down {
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -9px;
  }

  .page-landing .block-text-img:not(.block-text-img--quote) {
    padding: 120px 0 155px;
  }
  .page-landing .block-page-hero + .block-text-img:not(.bg-grid) {
    padding: 0 0 165px;
  }
  .page-landing .block-text-img:not(.block-text-img--quote) .image {
    margin: 0 0 0 41px;
  }

  .block-usps-text {
    padding: 108px 0 123px;
    margin: 0;
  }
  .block-usps-text .subtitle {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 4px;
  }
  .block-usps-text h2 {
    margin: 0 0 71px;
  }
  .block-usps-text ul {
    justify-content: space-around;
  }
  .block-usps-text ul li {
    margin: 0 0 68px;
  }
  .block-usps-text ul .icon {
    margin-bottom: 52px;
  }

  .block-text-img.block-text-img--quote {
    padding: 128px 0 165px;
  }
  .block-text-img.block-text-img--quote .text .subtitle {
    margin: 0 0 16px;
  }
  .block-text-img.block-text-img--quote .text p {
    margin: 0 0 27px;
    max-width: none;
    line-height: 1.16;
  }
  .block-text-img.block-text-img--quote .text .blockquote-footer {
    margin: 0;
  }
  .block-text-img--quote .blockquote-footer img {
    margin: 43px 0 0;
    max-width: 130px;
  }

  .page-pillar .block-text-img.bg-grid {
    padding: 118px 0;
  }
  .page-pillar .block-text-two-col {
    padding: 0 0 94px;
  }
  .page-pillar .block-featured-categories.bg-grid {
    background-size: 30.3px;
    padding: 122px 0 130px;
    margin: 0 0 12px;
  }
  .block-featured-categories .subtitle {
    font-size: 18px;
    line-height: 27px;
  }

  .page-contact .block-page-hero {
    padding-bottom: 85px;
  }
  .page-contact .block-page-hero .contact-form {
    margin: 0;
  }
  .page-contact .block-page-hero .contact-form .inner {
    padding: 26px 25px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .page-contact .block-page-hero .contact-form textarea.form-control {
    height: 151px;
  }

  .block-company-info {
    padding: 76px 0 0;
  }
  .block-company-info .image {
    margin: 0;
  }
  .block-company-info .image:after {
    left: -23px;
    bottom: -24px;
    width: 151px;
    height: 151px;
  }

  .block-usps .swiper {
    margin: 0 -15px;
    padding: 20px 15px 40px;
  }
}

@media screen and (min-width: 1200px) {
  /* header */
  .navbar-brand {
    width: auto;
  }
  .navbar-nav > li > a {
    padding: 39px 19px 35px;
  }
  .navbar-nav .menu-level-2 .menu-banner {
    padding: 33px 42px;
  }
  .navbar-nav .menu-level-2 .menu-banner-image {
    right: 9%;
  }
  .navbar-nav .menu-level-2 .menu-banner p {
    margin: 0 0 68px;
  }

  /* footer */
  .footer-socials ul li {
    margin: 0 67px 0 0;
  }

  /* banner-slider */
  .banner-slider .box-cases {
    right: 11%;
    width: 210px;
  }

  /* block-img-text-cta */
  .block-img-text-cta .image {
    margin: 0 -3.6vw 0 0;
  }
  .block-img-text-cta .text {
    margin-left: 4.6vw;
    padding: 59px 60px 43px 55px;
  }
  .block-img-text-cta .text p {
    line-height: 24px;
  }
  .block-img-text-cta .text .btn {
    margin-top: 25px;
  }
  .block-img-text-cta .icons-list {
    margin-left: 4.6vw;
  }
  .block-img-text-cta .icons-list .swiper-06 {
    padding-left: 65px;
    padding-right: 65px;
  }

  /* category-item  */
  .category-item .item-image:after {
    top: 27px;
    width: 61px;
    height: 61px;
    background-image: url(../img/bg/bg-cross-img.svg);
  }
  .category-item .item-text {
    padding: 28px 0 0;
  }

  .category-item .item-text .title {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 7px;
  }
  .category-item .item-text p {
    margin: 0 0 35px;
  }

  /* block-product-hero-single */
  .block-product-hero-single .text {
    padding: 29px 37px 60px;
    margin: 0 25px 0 0;
  }

  .block-product-hero-single .text ul {
    margin: 0 0 66px;
  }
  .block-product-hero-single .swiper-main {
    margin: 0 185px 0 0;
  }
  .block-product-hero-single .swiper-main .swiper-slide {
    padding: 0 0 40px;
  }
  .block-product-hero-single .swiper-thumbs-wrapper {
    right: 50px;
  }
  .block-product-hero-single .swiper-main .swiper-slide .fancybox {
    right: 14.5%;
  }

  /* block-usps-overview */
  .block-usps-overview {
    margin: 0 0 54px;
  }
  .block-usps-overview .inner {
    padding: 42px 100px 26px;
  }
  .block-usps-overview .inner .row {
    --bs-gutter-x: 79px;
  }
  .block-usps-overview .item {
    padding: 35px 0 59px;
  }
  .block-usps-overview .item p {
    font-size: 14px;
    line-height: 23px;
  }
  .block-usps-overview .row > div:nth-child(1):after,
  .block-usps-overview .row > div:nth-child(2):after {
    bottom: 33px;
    top: 13px;
  }
  .block-usps-overview .row > div:nth-child(4):after,
  .block-usps-overview .row > div:nth-child(5):after {
    bottom: 12px;
    top: 35px;
  }

  /* .block-text */
  .block-text {
    padding: 60px 0 97px;
  }

  .block-text h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 18px;
  }
  .block-text p {
    line-height: 25px;
    margin: 0 0 25px;
  }
  .block-text ol,
  .block-text ul {
    line-height: 25px;
    margin: 30px 0 22px;
  }
  .block-text p + h2,
  .block-text ul + h2,
  .block-text ol + h2 {
    margin-top: 70px;
  }

  /* block-contact-form */
  .block-contact-form .inner {
    padding: 17px 100px 0;
  }
  .block-contact-form .inner:before {
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
    opacity: 0.22;
  }

  .block-contact-form .image {
    padding: 19px 0 27px;
  }
  .block-contact-form .image .subtitle,
  .block-contact-form .image p {
    margin: 0 0 0 10px;
  }
  .block-contact-form .text .subtitle {
    margin: 0 0 6px;
  }

  /* block-service-list */
  .block-service-list {
    margin: 0 0 24px;
  }
  .block-service-list .row {
    --bs-gutter-x: 80px;
  }
  .block-service-list .service-list-row {
    padding: 110px 0;
  }
  .block-service-list .service-list-row:nth-child(2n) {
    background-image: url(../img/bg/bg-cross-gray-09-lg.svg);
    padding: 125px 0 115px;
  }
  .block-service-list .image:before {
    right: 27px;
    top: 23px;
    width: 63px;
    height: 63px;
    background-image: url(../img/bg/bg-cross-img.svg);
  }
  .block-service-list .image:after {
    left: -27px;
    top: -26px;
    width: 150px;
    height: 150px;
  }
  .block-service-list .service-list-row:nth-child(2n) .image:after {
    right: -28px;
    bottom: -21px;
  }

  /* block-team */
  .card-team .card-text {
    width: 83%;
    padding: 26px 30px 35px;
    transform: translateY(-74px);
    margin-bottom: -74px;
  }
  .card-team .card-image:before {
    right: 30px;
    top: 30px;
    width: 61px;
    height: 61px;
    background-image: url(../img/bg/bg-cross-img.svg);
  }

  /* block-about-list */
  .block-about-list {
    margin: 0 0 156px;
  }
  .about-list-row .row {
    --bs-gutter-x: 250px;
  }
  .about-list-row:first-child {
    margin-top: -52px;
  }
  .about-list-row:nth-child(4n + 1) {
    padding: 64px 0;
  }
  .about-list-row:nth-child(4n + 2) {
    padding: 77px 0;
  }
  .about-list-row:nth-child(4n + 3) {
    padding: 82px 0;
  }
  .about-list-row:nth-child(4n + 4) {
    padding: 12px 0;
  }
  .about-list-row:nth-child(4n + 2) .row {
    --bs-gutter-x: 100px;
  }
  .about-list-row:nth-child(4n + 2) .image {
    margin: 0 0 0 100px;
  }
  .about-list-row:nth-child(4n + 2) .text,
  .about-list-row:nth-child(4n + 4) .text {
    margin: 0 0 0 30px;
  }
  .about-list-row:nth-child(4n + 3) .image {
    margin: 0 26px 0 0;
  }
  .about-list-row:nth-child(4n + 4) .image {
    margin: 0 0 0 24px;
  }
  .about-list-row .image:before {
    right: 38px;
    top: 37px;
    width: 61px;
    height: 61px;
    background-image: url(../img/bg/bg-cross-img.svg);
  }
  .about-list-row:nth-child(2n + 1) .about-list-row .image:before {
    right: 29px;
    top: 31px;
  }
  .about-list-row .image:after {
    content: "";
    position: absolute;
    left: -22px;
    bottom: -16px;
    z-index: 1;
    width: 96px;
    height: 95px;
    background: var(--bs-primary);
    mix-blend-mode: multiply;
  }
  .about-list-row:nth-child(4n + 1) .image {
    padding: 0 0 0 27px;
  }
  .about-list-row:nth-child(4n + 1) .image:after {
    left: 0;
    bottom: -64px;
    top: 42px;
    right: 55px;
    width: auto;
    height: auto;
    mix-blend-mode: normal;
    z-index: -1;
  }
  .about-list-row:nth-child(4n + 2) .image:after {
    left: -27px;
    bottom: -29px;
    width: 183px;
    height: 183px;
  }
  .about-list-row:nth-child(4n + 3) .image:after {
    left: 115px;
    bottom: -38px;
    top: 49px;
    right: -61px;
    width: auto;
    height: auto;
    mix-blend-mode: normal;
    z-index: -1;
  }
  .about-list-row:nth-child(4n + 4) .image:after {
    left: -27px;
    bottom: -29px;
    width: 150px;
    height: 150px;
  }

  /* block-video */
  .block-video {
    padding: 140px 0;
    margin: 0;
  }
  .block-video .subtitle {
    margin: -24px 0 5px;
  }
  .block-video h2 {
    margin: 0 0 65px;
  }
  .block-video .btn-arrow {
    margin: 62px 0 0;
  }

  /* block-partners-list */
  .partners-list-row {
    padding: 130px 0;
  }
  .partners-list-row:first-child {
    padding-top: 14px;
    padding-bottom: 139px;
  }
  .partners-list-row:nth-child(2n) {
    padding: 114px 0;
    background-image: url(../img/bg/bg-cross-white-44-lg.svg);
  }
  .partners-list-row:nth-child(2n + 1) .image {
    margin: 0 25px 0 15px;
  }
  .partners-list-row:nth-child(2n) .image {
    margin: 0 54px 0 58px;
  }
  .partners-list-row:nth-child(2n + 1) .image:after {
    width: 150px;
    height: 150px;
    left: -34px;
    bottom: -40px;
  }
  .partners-list-row:nth-child(2n) .image:after {
    right: -54px;
  }
  .partners-list-row .image:before {
    width: 61px;
    height: 61px;
    top: 37px;
    right: 33px;
    background-image: url(../img/bg/bg-cross-img.svg);
  }
  .partners-list-row .text {
    margin-left: 15%;
  }
  .partners-list-row .text h2 {
    margin: 30px 0 8px;
  }
  .partners-list-row .text .btn {
    margin: 16px 0 0;
  }
  .block-partners-list {
    margin: 0 0 63px;
  }

  /* block-category-list */
  .block-category-list {
    margin: 0 0 175px;
  }
  .block-category-list .block-text-img {
    padding: 115px 0;
  }
  .block-category-list .block-text-img + .block-text-img {
    padding-top: 115px;
  }

  .block-page-hero.block-page-hero--filter .filter-bar {
    margin: -45px 35px 0;
    padding: 35px 53px 36px 32px;
    transform: translateY(86px);
  }
  .block-page-hero.block-page-hero--filter .btn-scroll-down {
    margin-top: 115px;
  }
  .block-page-hero.block-page-hero--filter .filter-bar .field-text {
    width: 57.5%;
  }
  .block-page-hero.block-page-hero--filter .filter-bar .field-select {
    width: 23.5%;
  }
  .block-page-hero.block-page-hero--filter .filter-bar .submit {
    width: 19%;
  }

  .block-knowledge-list {
    margin: 0 0 109px;
  }
  .block-knowledge-list .link-load-more {
    margin: 89px 0 0;
  }

  .block-article-main:before {
    background-image: url(../img/bg/bg-cross-gray-09-lg.svg);
  }

  .block-text h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .block-text h3:not(:first-child) {
    margin-top: 67px;
  }
  .block-text.block-text--article {
    padding-bottom: 73px;
  }
  .block-text figure {
    margin: 50px 0 70px;
  }

  .block-related-categories {
    background-image: url(../img/bg/bg-cross-gray-lg.svg);
  }
  .block-related-categories h4 {
    margin: 0 0 50px;
  }
  .card-related .card-image:before {
    right: 29px;
    top: 29px;
    width: 61px;
    height: 61px;
    background-image: url(../img/bg/bg-cross-img.svg);
  }
  .block-related-categories:last-child {
    margin-bottom: -100px;
  }

  .block-text-img--quote .image {
    max-width: 463px;
  }
  .block-text-img--quote .blockquote:before {
    bottom: -76px;
    right: 95px;
    width: 121px;
    height: 101px;
  }

  .block-form-primary .wrapper {
    padding: 72px 20px 89px;
  }
  .block-form-primary .wrapper:after {
    left: 88px;
    bottom: -30px;
  }

  .block-form-primary {
    margin: 0 0 30px;
  }

  .page-pillar .block-text {
    padding: 108px 0 110px;
  }

  .page-contact .block-page-hero .contact-form {
    margin: 0 35px 0 49px;
  }
  .page-contact .block-page-hero .contact-form .inner {
    padding: 34px 25px 26px;
  }

  .block-contact-list ul {
    justify-content: flex-start;
  }
  .block-contact-list ul li:not(:last-child) {
    margin: 0 45px 0 0;
  }
  .block-company-info .image {
    margin: 0 18px 0 0;
  }
  .block-company-info .text {
    margin: 0 0 0 45px;
  }
  .block-company-info .text address {
    margin: 0 0 75px;
  }
}

@media screen and (min-width: 1400px) {
  .ps-xxl-6 {
    padding-left: 4rem;
  }
  .block-contact-fixed {
    display: block;
  }

  .block-tabs .tab-pane {
    padding: 53px 70px 55px;
  }
  .block-tabs .table {
    font-size: 14px;
    line-height: 21px;
  }
  .block-tabs .table > :not(caption) > * > th {
    font-size: 16px;
    line-height: 24px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .block-tabs .table > :not(caption) > * > td {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .block-tabs .table > :not(caption) > * > *:first-child {
    padding-left: 30px;
  }
  .block-tabs .table > :not(caption) > * > *:last-child {
    padding-right: 30px;
  }
  .block-tabs .table-note {
    padding: 18px 30px 0;
  }

  .downloads-list .row {
    --bs-gutter-x: 36px;
  }
  .block-tabs .video-wrapper {
    padding: 6px 35px 23px;
  }

  .block-service-list .row {
    --bs-gutter-x: 112px;
  }

  .block-quote {
    margin: 0 0 76px;
  }
  .block-quote .blockquote-wrapper {
    margin: 0 -45px;
    padding: 63px 91px 54px;
  }
  .block-quote .blockquote .h2 {
    line-height: 1.3;
  }
  .block-quote .blockquote-wrapper:before {
    width: 121px;
    height: 101px;
    left: -15px;
  }
}

@media screen and (min-width: 1600px) {
  .block-product-hero-single::before {
    width: 45%;
  }
}
